{% extends 'base.html.twig' %}

{% block title %}Url Shortner{% endblock %}

{% block stylesheets %}

	<link rel="stylesheet" href="{{ asset('build/css/app.css') }}">

{% endblock %}

{% block body %}

	<div class="container">

		<div id="target" class="row">

	        <div class="col-xs-4">

	        	<h1 class="page-header">Url Shortner</h1>

	        </div>

		<table class="table table-hover table-striped">
		                    
			<thead>

				<tr>
					<th>№</th>
					<th>Long Url</th>
					<th>Short Url</th>
					<th>Lifetime</th>
					<th>Active</th>

					<th>
						<b-btn v-b-modal.create variant="primary btn-sm">Add url</b-btn>
					</th>
					
				</tr>

			</thead>

			<tbody>

				<tr v-for="url in urls">

					<td>${ url.id }</td>
	                <td>${ url.long_url }</td>
	                <td><a :href="url.short_url">${url.short_url}</a></td>
	                <td>${ url.lifetime }</td>
	                <td><input type="checkbox" id="checkbox" v-model="url.is_active"></td>

	                <td width="10px">
						<b-btn v-on:click.prevent="showStatistics(url.statistics)" variant="success btn-sm">View statistics</b-btn>
					</td>
				
				</tr>

			</tbody>

		</table>

		{{ include('url_shortener/partials/create.html.twig')}}
		{{ include('url_shortener/partials/show-statistics.html.twig')}}
		{{ include('url_shortener/partials/edit.html.twig')}}
		{{ include('url_shortener/partials/404-modal.html.twig')}}

		</div>
	</div>

{% endblock %}

{% block javascripts %}

	<script src="{{ asset('build/js/app.js') }}"></script>
	
{% endblock %}
