<div class="modal fade" id="show">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">

				<button type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>

				<h4>Show</h4>

			</div>

			<div class="modal-body">

				<ul>
                    <li>Id: @{{ fillContact.id }}</li>
                    <li>Name: @{{ fillContact.name }}</li>
                    <li>Surname: @{{ fillContact.surname }}</li>
                    <li>Phone number: @{{ fillContact.phone_number }}</li>
                    <li>Birthday: @{{ fillContact.birthday }}</li>
                </ul>
				
			</div>
				
		</div>
	</div>
</div>